doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // CSS Link
  link(href='css/styling.css' type='text/css' rel='stylesheet')
  // Fonts
  link(href='https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Oswald:wght@200&family=Tinos:wght@700&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Poppins:wght@200;500&display=swap' rel='stylesheet')
  // Font Awesosme
  link(href='css/all.min.css' rel='' stylesheet='')
  link(href='css/fontawesome.min.css' rel='' stylesheet='')
  
  script(src='js/all.min.js')
  script(src='js/fontawesome.min.js')